<a href="https://colab.research.google.com/github/poandpo/project3/blob/main/project3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
%%capture
import sys

if 'google.colab' in sys.modules:
    # Install packages in Colab
    !pip install category_encoders==2.*
    !pip install pandas-profiling==2.*
    !pip install eli5
    !pip install catboost

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving test.csv to test.csv

In [ ]:
import pandas as pd
df = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

## 데이터 탐색

In [ ]:
df.shape, test.shape

((103904, 25), (25976, 25))

In [ ]:
df.head()

   Unnamed: 0      id  ... Arrival Delay in Minutes             satisfaction
0           0   70172  ...                     18.0  neutral or dissatisfied
1           1    5047  ...                      6.0  neutral or dissatisfied
2           2  110028  ...                      0.0                satisfied
3           3   24026  ...                      9.0  neutral or dissatisfied
4           4  119299  ...                      0.0                satisfied

[5 rows x 25 columns]

In [ ]:
test.head()

   Unnamed: 0     id  ... Arrival Delay in Minutes             satisfaction
0           0  19556  ...                     44.0                satisfied
1           1  90035  ...                      0.0                satisfied
2           2  12360  ...                      0.0  neutral or dissatisfied
3           3  77959  ...                      6.0                satisfied
4           4  36875  ...                     20.0                satisfied

[5 rows x 25 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103904 entries, 0 to 103903
Data columns (total 25 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   Unnamed: 0                         103904 non-null  int64
 1   id                                 103904 non-null  int64
 2   Gender                             103904 non-null  object
 3   Customer Type                      103904 non-null  object
 4   Age                                103904 non-null  int64
 5   Type of Travel                     103904 non-null  object
 6   Class                              103904 non-null  object
 7   Flight Distance                    103904 non-null  int64
 8   Inflight wifi service              103904 non-null  int64
 9   Departure/Arrival time convenient  103904 non-null  int64
 10  Ease of Online booking             103904 non-null  int64
 11  Gate location                      103904 non-null  int64
 12  Food and drink                     103904 non-null  int64
 13  Online boarding                    103904 non-null  int64
 14  Seat comfort                       103904 non-null  int64
 15  Inflight entertainment             103904 non-null  int64
 16  On-board service                   103904 non-null  int64
 17  Leg room service                   103904 non-null  int64
 18  Baggage handling                   103904 non-null  int64
 19  Checkin service                    103904 non-null  int64
 20  Inflight service                   103904 non-null  int64
 21  Cleanliness                        103904 non-null  int64
 22  Departure Delay in Minutes         103904 non-null  int64
 23  Arrival Delay in Minutes           103594 non-null  float64
 24  satisfaction                       103904 non-null  object
dtypes: float64(1), int64(19), object(5)
memory usage: 19.8+ MB

In [ ]:
df.T.duplicated(subset=None, keep='first')

Unnamed: 0                           False
id                                   False
Gender                               False
Customer Type                        False
Age                                  False
Type of Travel                       False
Class                                False
Flight Distance                      False
Inflight wifi service                False
Departure/Arrival time convenient    False
Ease of Online booking               False
Gate location                        False
Food and drink                       False
Online boarding                      False
Seat comfort                         False
Inflight entertainment               False
On-board service                     False
Leg room service                     False
Baggage handling                     False
Checkin service                      False
Inflight service                     False
Cleanliness                          False
Departure Delay in Minutes           False
Arrival Delay in Minutes             False
satisfaction                         False
dtype: bool

In [ ]:
[(x, df[x].isnull().sum()) for x in df.columns if df[x].isnull().any()]

[('Arrival Delay in Minutes', 310)]

In [ ]:
df.head(5)

   Unnamed: 0      id  ... Arrival Delay in Minutes             satisfaction
0           0   70172  ...                     18.0  neutral or dissatisfied
1           1    5047  ...                      6.0  neutral or dissatisfied
2           2  110028  ...                      0.0                satisfied
3           3   24026  ...                      9.0  neutral or dissatisfied
4           4  119299  ...                      0.0                satisfied

[5 rows x 25 columns]

In [ ]:
from pandas_profiling import ProfileReport
profile = ProfileReport(df, title="Pandas Profiling Report")

In [ ]:
df['Class'].unique()

array(['Eco Plus', 'Business', 'Eco'], dtype=object)

In [ ]:
columns_name = []
for x in df.columns:
  columns_name.append(x)

print(columns_name)

['Unnamed: 0', 'id', 'Gender', 'Customer Type', 'Age', 'Type of Travel', 'Class', 'Flight Distance', 'Inflight wifi service', 'Departure/Arrival time convenient', 'Ease of Online booking', 'Gate location', 'Food and drink', 'Online boarding', 'Seat comfort', 'Inflight entertainment', 'On-board service', 'Leg room service', 'Baggage handling', 'Checkin service', 'Inflight service', 'Cleanliness', 'Departure Delay in Minutes', 'Arrival Delay in Minutes', 'satisfaction']

In [ ]:
df['satisfaction'].value_counts(normalize=True)

neutral or dissatisfied    0.566667
satisfied                  0.433333
Name: satisfaction, dtype: float64

In [ ]:
import seaborn as sns

sns.countplot(df['satisfaction'],)

## 데이터 전처리

In [ ]:
df.head()

   Unnamed: 0      id  ... Arrival Delay in Minutes             satisfaction
0           0   70172  ...                     18.0  neutral or dissatisfied
1           1    5047  ...                      6.0  neutral or dissatisfied
2           2  110028  ...                      0.0                satisfied
3           3   24026  ...                      9.0  neutral or dissatisfied
4           4  119299  ...                      0.0                satisfied

[5 rows x 25 columns]

In [ ]:
def clean_df(df):
    # 지연된 시간 합치기
    df['Delay_Minutes']=df['Departure_Delay_in_Minutes'] + df['Arrival_Delay_in_Minutes']
    df.drop(labels=['Unnamed: 0','id','Departure_Delay_in_Minutes','Arrival_Delay_in_Minutes'], axis=1,inplace=True )

    # 결측치 대체
    df['Delay_Minutes']= df['Delay_Minutes'].fillna(0)
    
    #인코더
    df["Gender"] = df["Gender"].map({'Male': 0,'Female': 1})
    df['Customer_Type']=df['Customer_Type'].map({'Loyal Customer': 0,'disloyal Customer': 1})
    df['Type_of_Travel']=df['Type_of_Travel'].map({'Personal Travel': 0,'Business travel': 1})
    df['Class']=df['Class'].map({'Eco': 0,'Eco Plus': 1, 'Business':2 })
    df['satisfaction']=df['satisfaction'].map({'neutral or dissatisfied': 0,'satisfied': 1})

    # 컬럼명 변경
    df.rename(columns={'Type_of_Travel':'Travel_Tyep', 'Flight_Distance':'Distance','Inflight_wifi_service':'wifi_service', 'Departure_Arrival_time_convenient':'time_convenient','Ease_of_Online_booking':'Online_booking', 'Food_and_drink': 'Food_drink',
      
                      'Inflight_entertainment':'entertainment'},inplace=True )  
clean_df(df)
clean_df(test)

In [ ]:
[(x, df[x].isnull().sum()) for x in df.columns if df[x].isnull().any()]

[('Arrival Delay in Minutes', 310)]

In [ ]:
[(x, test[x].isnull().sum()) for x in test.columns if test[x].isnull().any()]

[('Arrival Delay in Minutes', 83)]

In [ ]:
df.head()

   Unnamed: 0      id  ... Arrival Delay in Minutes             satisfaction
0           0   70172  ...                     18.0  neutral or dissatisfied
1           1    5047  ...                      6.0  neutral or dissatisfied
2           2  110028  ...                      0.0                satisfied
3           3   24026  ...                      9.0  neutral or dissatisfied
4           4  119299  ...                      0.0                satisfied

[5 rows x 25 columns]

In [ ]:
from sklearn.model_selection import train_test_split
X=df[['Gender','Travel_Tyep','Customer_Type','Class','Age','wifi_service', 'Online_booking','entertainment','Checkin_service','Inflight_service', 'time_convenient']] #'price'를 제외한 df를 특성으로 지정
y=df['satisfaction']
X_train, X_val, y_train, y_val = train_test_split(X,y,
                                                    test_size=0.3, 
                                                    random_state=2)

X_test = test[['Gender','Travel_Tyep','Customer_Type','Class','Age','wifi_service', 'Online_booking','entertainment','Checkin_service','Inflight_service', 'time_convenient']]
y_test = test['satisfaction']

In [ ]:
X_train.shape, X_val.shape, X_test.shape

In [ ]:
X_train.head()

## 훈련

### LGBMClassifier

In [ ]:
from lightgbm import  LGBMClassifier

model =LGBMClassifier(colsample_bytree= 0.85, 
                        max_depth= 15, 
                        min_split_gain= 0.1, 
                        n_estimators= 200, 
                        num_leaves= 50, 
                        reg_alpha= 1.2, 
                        reg_lambda= 1.2, 
                        subsample= 0.95, 
                        subsample_freq= 20)

eval_set = [(X_train, y_train), 
            (X_val, y_val)]

model.fit(X_train, y_train, 
          eval_set=eval_set,
          #eval_metric=error,
          early_stopping_rounds=50
         )

In [ ]:
from sklearn.metrics import classification_report
y_pred = model.predict(X_train)
print(classification_report(y_train, y_pred))

In [ ]:
y_pred2 = model.predict(X_val)
print(classification_report(y_val, y_pred2))

### XGB

In [ ]:
from xgboost import XGBClassifier

model2 = XGBClassifier(
    n_estimators=1000,  # <= 1000 트리로 설정했지만, early stopping 에 따라 조절됩니다.
    max_depth=7,        # default=3, high cardinality 특성을 위해 기본보다 높여 보았습니다.
    learning_rate=0.2,
#     scale_pos_weight=ratio, # imbalance 데이터 일 경우 비율을 적용합니다.
    n_jobs=-1
)

eval_set = [(X_train, y_train), 
            (X_val, y_val)]

model2.fit(X_train, y_train, 
          eval_set=eval_set,
          eval_metric='error', # #(wrong cases)/#(all cases)
          early_stopping_rounds=50
         )

In [ ]:
y_pred_1 = model.predict(X_train)
print(classification_report(y_train, y_pred_1))

In [ ]:
y_pred_2= model.predict(X_val)
print(classification_report(y_val, y_pred_2))

In [ ]:
!pip install catboost

### Cat

In [ ]:
from catboost import CatBoostClassifier

model3=CatBoostClassifier(n_estimators=1000,
                       learning_rate= 0.15513836571095696, 
                       max_depth= 10,
                       random_state=10)   
    
eval_set = [(X_train, y_train), 
            (X_val, y_val)]

model3.fit(X_train, y_train, 
          eval_set=eval_set,
          #eval_metric='error', # #(wrong cases)/#(all cases)
          early_stopping_rounds=50
         )

0:	learn: 0.4361243	test: 0.4361243	test1: 0.4358540	best: 0.4358540 (0)	total: 70.5ms	remaining: 1m 10s
1:	learn: 0.3875520	test: 0.3875520	test1: 0.3872079	best: 0.3872079 (1)	total: 91.6ms	remaining: 45.7s
2:	learn: 0.3490146	test: 0.3490146	test1: 0.3483887	best: 0.3483887 (2)	total: 110ms	remaining: 36.6s
3:	learn: 0.3178734	test: 0.3178734	test1: 0.3170430	best: 0.3170430 (3)	total: 130ms	remaining: 32.3s
4:	learn: 0.2930809	test: 0.2930809	test1: 0.2922526	best: 0.2922526 (4)	total: 150ms	remaining: 29.8s
5:	learn: 0.2736785	test: 0.2736785	test1: 0.2728325	best: 0.2728325 (5)	total: 169ms	remaining: 28s
6:	learn: 0.2589725	test: 0.2589725	test1: 0.2581324	best: 0.2581324 (6)	total: 188ms	remaining: 26.7s
7:	learn: 0.2473977	test: 0.2473977	test1: 0.2465365	best: 0.2465365 (7)	total: 208ms	remaining: 25.7s
8:	learn: 0.2369741	test: 0.2369741	test1: 0.2360858	best: 0.2360858 (8)	total: 227ms	remaining: 25s
9:	learn: 0.2299139	test: 0.2299139	test1: 0.2290716	best: 0.2290716 (9)	total: 246ms	remaining: 24.3s
10:	learn: 0.2236888	test: 0.2236888	test1: 0.2227851	best: 0.2227851 (10)	total: 265ms	remaining: 23.8s
11:	learn: 0.2187845	test: 0.2187845	test1: 0.2180018	best: 0.2180018 (11)	total: 289ms	remaining: 23.8s
12:	learn: 0.2154074	test: 0.2154074	test1: 0.2147527	best: 0.2147527 (12)	total: 309ms	remaining: 23.5s
13:	learn: 0.2119748	test: 0.2119748	test1: 0.2113509	best: 0.2113509 (13)	total: 330ms	remaining: 23.3s
14:	learn: 0.2096481	test: 0.2096481	test1: 0.2089903	best: 0.2089903 (14)	total: 354ms	remaining: 23.3s
15:	learn: 0.2072604	test: 0.2072604	test1: 0.2065946	best: 0.2065946 (15)	total: 376ms	remaining: 23.1s
16:	learn: 0.2054274	test: 0.2054274	test1: 0.2049844	best: 0.2049844 (16)	total: 396ms	remaining: 22.9s
17:	learn: 0.2036513	test: 0.2036513	test1: 0.2032148	best: 0.2032148 (17)	total: 416ms	remaining: 22.7s
18:	learn: 0.2023231	test: 0.2023231	test1: 0.2021076	best: 0.2021076 (18)	total: 436ms	remaining: 22.5s
19:	learn: 0.2010510	test: 0.2010510	test1: 0.2008020	best: 0.2008020 (19)	total: 456ms	remaining: 22.4s
20:	learn: 0.2003347	test: 0.2003347	test1: 0.2001631	best: 0.2001631 (20)	total: 483ms	remaining: 22.5s
21:	learn: 0.1993112	test: 0.1993112	test1: 0.1992908	best: 0.1992908 (21)	total: 507ms	remaining: 22.5s
22:	learn: 0.1985762	test: 0.1985762	test1: 0.1987627	best: 0.1987627 (22)	total: 528ms	remaining: 22.4s
23:	learn: 0.1980003	test: 0.1980003	test1: 0.1982125	best: 0.1982125 (23)	total: 548ms	remaining: 22.3s
24:	learn: 0.1969267	test: 0.1969267	test1: 0.1973767	best: 0.1973767 (24)	total: 568ms	remaining: 22.2s
25:	learn: 0.1963239	test: 0.1963239	test1: 0.1967579	best: 0.1967579 (25)	total: 588ms	remaining: 22s
26:	learn: 0.1957509	test: 0.1957509	test1: 0.1962615	best: 0.1962615 (26)	total: 614ms	remaining: 22.1s
27:	learn: 0.1954576	test: 0.1954576	test1: 0.1959681	best: 0.1959681 (27)	total: 635ms	remaining: 22s
28:	learn: 0.1949874	test: 0.1949874	test1: 0.1956465	best: 0.1956465 (28)	total: 655ms	remaining: 21.9s
29:	learn: 0.1945263	test: 0.1945263	test1: 0.1952309	best: 0.1952309 (29)	total: 675ms	remaining: 21.8s
30:	learn: 0.1940934	test: 0.1940934	test1: 0.1949776	best: 0.1949776 (30)	total: 695ms	remaining: 21.7s
31:	learn: 0.1938789	test: 0.1938789	test1: 0.1948003	best: 0.1948003 (31)	total: 718ms	remaining: 21.7s
32:	learn: 0.1934276	test: 0.1934276	test1: 0.1944275	best: 0.1944275 (32)	total: 745ms	remaining: 21.8s
33:	learn: 0.1928911	test: 0.1928911	test1: 0.1939798	best: 0.1939798 (33)	total: 765ms	remaining: 21.7s
34:	learn: 0.1923314	test: 0.1923314	test1: 0.1936400	best: 0.1936400 (34)	total: 784ms	remaining: 21.6s
35:	learn: 0.1918596	test: 0.1918596	test1: 0.1931941	best: 0.1931941 (35)	total: 805ms	remaining: 21.6s
36:	learn: 0.1915046	test: 0.1915046	test1: 0.1928178	best: 0.1928178 (36)	total: 831ms	remaining: 21.6s
37:	learn: 0.1910916	test: 0.1910916	test1: 0.1924701	best: 0.1924701 (37)	total: 851ms	remaining: 21.5s
38:	learn: 0.1905208	test: 0.1905208	test1: 0.1920771	best: 0.1920771 (38)	total: 871ms	remaining: 21.5s
39:	learn: 0.1901745	test: 0.1901745	test1: 0.1919660	best: 0.1919660 (39)	total: 892ms	remaining: 21.4s
40:	learn: 0.1899049	test: 0.1899049	test1: 0.1917398	best: 0.1917398 (40)	total: 925ms	remaining: 21.6s
41:	learn: 0.1894539	test: 0.1894539	test1: 0.1914139	best: 0.1914139 (41)	total: 948ms	remaining: 21.6s
42:	learn: 0.1891687	test: 0.1891687	test1: 0.1911404	best: 0.1911404 (42)	total: 968ms	remaining: 21.5s
43:	learn: 0.1886651	test: 0.1886651	test1: 0.1907671	best: 0.1907671 (43)	total: 992ms	remaining: 21.5s
44:	learn: 0.1885168	test: 0.1885168	test1: 0.1907115	best: 0.1907115 (44)	total: 1.01s	remaining: 21.5s
45:	learn: 0.1880802	test: 0.1880802	test1: 0.1903102	best: 0.1903102 (45)	total: 1.03s	remaining: 21.4s
46:	learn: 0.1877141	test: 0.1877141	test1: 0.1901680	best: 0.1901680 (46)	total: 1.05s	remaining: 21.3s
47:	learn: 0.1875635	test: 0.1875635	test1: 0.1900233	best: 0.1900233 (47)	total: 1.07s	remaining: 21.3s
48:	learn: 0.1872481	test: 0.1872481	test1: 0.1899268	best: 0.1899268 (48)	total: 1.09s	remaining: 21.2s
49:	learn: 0.1869221	test: 0.1869221	test1: 0.1898437	best: 0.1898437 (49)	total: 1.11s	remaining: 21.1s
50:	learn: 0.1867168	test: 0.1867168	test1: 0.1897435	best: 0.1897435 (50)	total: 1.14s	remaining: 21.1s
51:	learn: 0.1865041	test: 0.1865041	test1: 0.1897171	best: 0.1897171 (51)	total: 1.16s	remaining: 21.1s
52:	learn: 0.1863048	test: 0.1863048	test1: 0.1896083	best: 0.1896083 (52)	total: 1.17s	remaining: 21s
53:	learn: 0.1860401	test: 0.1860401	test1: 0.1895204	best: 0.1895204 (53)	total: 1.2s	remaining: 20.9s
54:	learn: 0.1859445	test: 0.1859445	test1: 0.1894301	best: 0.1894301 (54)	total: 1.21s	remaining: 20.9s
55:	learn: 0.1857346	test: 0.1857346	test1: 0.1893157	best: 0.1893157 (55)	total: 1.24s	remaining: 20.8s
56:	learn: 0.1854737	test: 0.1854737	test1: 0.1891171	best: 0.1891171 (56)	total: 1.26s	remaining: 20.8s
57:	learn: 0.1852780	test: 0.1852780	test1: 0.1890166	best: 0.1890166 (57)	total: 1.28s	remaining: 20.8s
58:	learn: 0.1850340	test: 0.1850340	test1: 0.1887817	best: 0.1887817 (58)	total: 1.3s	remaining: 20.7s
59:	learn: 0.1848558	test: 0.1848558	test1: 0.1886723	best: 0.1886723 (59)	total: 1.32s	remaining: 20.6s
60:	learn: 0.1847299	test: 0.1847299	test1: 0.1886054	best: 0.1886054 (60)	total: 1.34s	remaining: 20.6s
61:	learn: 0.1844009	test: 0.1844009	test1: 0.1883647	best: 0.1883647 (61)	total: 1.36s	remaining: 20.6s
62:	learn: 0.1840047	test: 0.1840047	test1: 0.1881925	best: 0.1881925 (62)	total: 1.39s	remaining: 20.7s
63:	learn: 0.1837255	test: 0.1837255	test1: 0.1881213	best: 0.1881213 (63)	total: 1.41s	remaining: 20.6s
64:	learn: 0.1835889	test: 0.1835889	test1: 0.1881113	best: 0.1881113 (64)	total: 1.43s	remaining: 20.6s
65:	learn: 0.1833692	test: 0.1833692	test1: 0.1880922	best: 0.1880922 (65)	total: 1.45s	remaining: 20.5s
66:	learn: 0.1830660	test: 0.1830660	test1: 0.1880127	best: 0.1880127 (66)	total: 1.47s	remaining: 20.5s
67:	learn: 0.1827259	test: 0.1827259	test1: 0.1877828	best: 0.1877828 (67)	total: 1.5s	remaining: 20.5s
68:	learn: 0.1824530	test: 0.1824530	test1: 0.1877492	best: 0.1877492 (68)	total: 1.52s	remaining: 20.5s
69:	learn: 0.1823045	test: 0.1823045	test1: 0.1877353	best: 0.1877353 (69)	total: 1.53s	remaining: 20.4s
70:	learn: 0.1822319	test: 0.1822319	test1: 0.1876587	best: 0.1876587 (70)	total: 1.56s	remaining: 20.4s
71:	learn: 0.1820846	test: 0.1820846	test1: 0.1876504	best: 0.1876504 (71)	total: 1.58s	remaining: 20.4s
72:	learn: 0.1819404	test: 0.1819404	test1: 0.1876189	best: 0.1876189 (72)	total: 1.6s	remaining: 20.3s
73:	learn: 0.1818283	test: 0.1818283	test1: 0.1875814	best: 0.1875814 (73)	total: 1.62s	remaining: 20.3s
74:	learn: 0.1815941	test: 0.1815941	test1: 0.1874545	best: 0.1874545 (74)	total: 1.64s	remaining: 20.3s
75:	learn: 0.1814083	test: 0.1814083	test1: 0.1874212	best: 0.1874212 (75)	total: 1.66s	remaining: 20.2s
76:	learn: 0.1812143	test: 0.1812143	test1: 0.1874084	best: 0.1874084 (76)	total: 1.68s	remaining: 20.2s
77:	learn: 0.1810245	test: 0.1810245	test1: 0.1873832	best: 0.1873832 (77)	total: 1.7s	remaining: 20.1s
78:	learn: 0.1808826	test: 0.1808826	test1: 0.1873883	best: 0.1873832 (77)	total: 1.72s	remaining: 20.1s
79:	learn: 0.1807376	test: 0.1807376	test1: 0.1874081	best: 0.1873832 (77)	total: 1.74s	remaining: 20.1s
80:	learn: 0.1806156	test: 0.1806156	test1: 0.1874019	best: 0.1873832 (77)	total: 1.77s	remaining: 20.1s
81:	learn: 0.1804544	test: 0.1804544	test1: 0.1873021	best: 0.1873021 (81)	total: 1.79s	remaining: 20s
82:	learn: 0.1803696	test: 0.1803696	test1: 0.1873097	best: 0.1873021 (81)	total: 1.81s	remaining: 20s
83:	learn: 0.1802131	test: 0.1802131	test1: 0.1871982	best: 0.1871982 (83)	total: 1.83s	remaining: 19.9s
84:	learn: 0.1801228	test: 0.1801228	test1: 0.1871510	best: 0.1871510 (84)	total: 1.85s	remaining: 19.9s
85:	learn: 0.1800089	test: 0.1800089	test1: 0.1871135	best: 0.1871135 (85)	total: 1.87s	remaining: 19.9s
86:	learn: 0.1798152	test: 0.1798152	test1: 0.1870109	best: 0.1870109 (86)	total: 1.89s	remaining: 19.8s
87:	learn: 0.1797165	test: 0.1797165	test1: 0.1870064	best: 0.1870064 (87)	total: 1.91s	remaining: 19.8s
88:	learn: 0.1795485	test: 0.1795485	test1: 0.1870086	best: 0.1870064 (87)	total: 1.93s	remaining: 19.8s
89:	learn: 0.1794315	test: 0.1794315	test1: 0.1869892	best: 0.1869892 (89)	total: 1.95s	remaining: 19.8s
90:	learn: 0.1793652	test: 0.1793652	test1: 0.1870126	best: 0.1869892 (89)	total: 1.98s	remaining: 19.8s
91:	learn: 0.1792961	test: 0.1792961	test1: 0.1870211	best: 0.1869892 (89)	total: 2s	remaining: 19.7s
92:	learn: 0.1791872	test: 0.1791872	test1: 0.1869523	best: 0.1869523 (92)	total: 2.02s	remaining: 19.7s
93:	learn: 0.1791288	test: 0.1791288	test1: 0.1869311	best: 0.1869311 (93)	total: 2.04s	remaining: 19.7s
94:	learn: 0.1790019	test: 0.1790019	test1: 0.1868340	best: 0.1868340 (94)	total: 2.06s	remaining: 19.6s
95:	learn: 0.1788185	test: 0.1788185	test1: 0.1868834	best: 0.1868340 (94)	total: 2.08s	remaining: 19.6s
96:	learn: 0.1787359	test: 0.1787359	test1: 0.1868289	best: 0.1868289 (96)	total: 2.1s	remaining: 19.6s
97:	learn: 0.1785009	test: 0.1785009	test1: 0.1868036	best: 0.1868036 (97)	total: 2.12s	remaining: 19.5s
98:	learn: 0.1783493	test: 0.1783493	test1: 0.1867388	best: 0.1867388 (98)	total: 2.14s	remaining: 19.5s
99:	learn: 0.1781740	test: 0.1781740	test1: 0.1865824	best: 0.1865824 (99)	total: 2.16s	remaining: 19.5s
100:	learn: 0.1780984	test: 0.1780984	test1: 0.1866050	best: 0.1865824 (99)	total: 2.19s	remaining: 19.5s
101:	learn: 0.1780498	test: 0.1780498	test1: 0.1866265	best: 0.1865824 (99)	total: 2.21s	remaining: 19.4s
102:	learn: 0.1779297	test: 0.1779297	test1: 0.1865524	best: 0.1865524 (102)	total: 2.23s	remaining: 19.4s
103:	learn: 0.1778969	test: 0.1778969	test1: 0.1865551	best: 0.1865524 (102)	total: 2.24s	remaining: 19.3s
104:	learn: 0.1777348	test: 0.1777348	test1: 0.1865389	best: 0.1865389 (104)	total: 2.26s	remaining: 19.3s
105:	learn: 0.1775795	test: 0.1775795	test1: 0.1865466	best: 0.1865389 (104)	total: 2.28s	remaining: 19.3s
106:	learn: 0.1774237	test: 0.1774237	test1: 0.1865543	best: 0.1865389 (104)	total: 2.3s	remaining: 19.2s
107:	learn: 0.1772311	test: 0.1772311	test1: 0.1865706	best: 0.1865389 (104)	total: 2.32s	remaining: 19.2s
108:	learn: 0.1770843	test: 0.1770843	test1: 0.1865841	best: 0.1865389 (104)	total: 2.34s	remaining: 19.2s
109:	learn: 0.1769547	test: 0.1769547	test1: 0.1865925	best: 0.1865389 (104)	total: 2.36s	remaining: 19.1s
110:	learn: 0.1768020	test: 0.1768020	test1: 0.1865579	best: 0.1865389 (104)	total: 2.39s	remaining: 19.2s
111:	learn: 0.1766990	test: 0.1766990	test1: 0.1865307	best: 0.1865307 (111)	total: 2.41s	remaining: 19.1s
112:	learn: 0.1766457	test: 0.1766457	test1: 0.1865309	best: 0.1865307 (111)	total: 2.43s	remaining: 19.1s
113:	learn: 0.1765970	test: 0.1765970	test1: 0.1865238	best: 0.1865238 (113)	total: 2.45s	remaining: 19.1s
114:	learn: 0.1764679	test: 0.1764679	test1: 0.1864163	best: 0.1864163 (114)	total: 2.47s	remaining: 19s
115:	learn: 0.1763266	test: 0.1763266	test1: 0.1864432	best: 0.1864163 (114)	total: 2.49s	remaining: 19s
116:	learn: 0.1762457	test: 0.1762457	test1: 0.1864237	best: 0.1864163 (114)	total: 2.51s	remaining: 19s
117:	learn: 0.1761568	test: 0.1761568	test1: 0.1864318	best: 0.1864163 (114)	total: 2.53s	remaining: 18.9s
118:	learn: 0.1760165	test: 0.1760165	test1: 0.1864228	best: 0.1864163 (114)	total: 2.55s	remaining: 18.9s
119:	learn: 0.1758882	test: 0.1758882	test1: 0.1864576	best: 0.1864163 (114)	total: 2.57s	remaining: 18.9s
120:	learn: 0.1757958	test: 0.1757958	test1: 0.1864730	best: 0.1864163 (114)	total: 2.59s	remaining: 18.8s
121:	learn: 0.1757380	test: 0.1757380	test1: 0.1864660	best: 0.1864163 (114)	total: 2.61s	remaining: 18.8s
122:	learn: 0.1756316	test: 0.1756316	test1: 0.1864818	best: 0.1864163 (114)	total: 2.63s	remaining: 18.8s
123:	learn: 0.1755312	test: 0.1755312	test1: 0.1864505	best: 0.1864163 (114)	total: 2.65s	remaining: 18.8s
124:	learn: 0.1753874	test: 0.1753874	test1: 0.1865033	best: 0.1864163 (114)	total: 2.67s	remaining: 18.7s
125:	learn: 0.1752297	test: 0.1752297	test1: 0.1864783	best: 0.1864163 (114)	total: 2.69s	remaining: 18.7s
126:	learn: 0.1751761	test: 0.1751761	test1: 0.1864475	best: 0.1864163 (114)	total: 2.72s	remaining: 18.7s
127:	learn: 0.1750241	test: 0.1750241	test1: 0.1864494	best: 0.1864163 (114)	total: 2.74s	remaining: 18.6s
128:	learn: 0.1748710	test: 0.1748710	test1: 0.1863675	best: 0.1863675 (128)	total: 2.76s	remaining: 18.6s
129:	learn: 0.1747896	test: 0.1747896	test1: 0.1863263	best: 0.1863263 (129)	total: 2.78s	remaining: 18.6s
130:	learn: 0.1746683	test: 0.1746683	test1: 0.1863468	best: 0.1863263 (129)	total: 2.81s	remaining: 18.6s
131:	learn: 0.1745120	test: 0.1745120	test1: 0.1863402	best: 0.1863263 (129)	total: 2.83s	remaining: 18.6s
132:	learn: 0.1744271	test: 0.1744271	test1: 0.1863508	best: 0.1863263 (129)	total: 2.85s	remaining: 18.6s
133:	learn: 0.1743524	test: 0.1743524	test1: 0.1863422	best: 0.1863263 (129)	total: 2.87s	remaining: 18.5s
134:	learn: 0.1742243	test: 0.1742243	test1: 0.1863536	best: 0.1863263 (129)	total: 2.89s	remaining: 18.5s
135:	learn: 0.1741564	test: 0.1741564	test1: 0.1863538	best: 0.1863263 (129)	total: 2.92s	remaining: 18.5s
136:	learn: 0.1740780	test: 0.1740780	test1: 0.1863544	best: 0.1863263 (129)	total: 2.94s	remaining: 18.5s
137:	learn: 0.1740089	test: 0.1740089	test1: 0.1863458	best: 0.1863263 (129)	total: 2.96s	remaining: 18.5s
138:	learn: 0.1739611	test: 0.1739611	test1: 0.1863279	best: 0.1863263 (129)	total: 2.98s	remaining: 18.4s
139:	learn: 0.1738192	test: 0.1738192	test1: 0.1863416	best: 0.1863263 (129)	total: 3s	remaining: 18.4s
140:	learn: 0.1737138	test: 0.1737138	test1: 0.1863265	best: 0.1863263 (129)	total: 3.02s	remaining: 18.4s
141:	learn: 0.1736450	test: 0.1736450	test1: 0.1863133	best: 0.1863133 (141)	total: 3.04s	remaining: 18.4s
142:	learn: 0.1735661	test: 0.1735661	test1: 0.1863447	best: 0.1863133 (141)	total: 3.06s	remaining: 18.4s
143:	learn: 0.1734657	test: 0.1734657	test1: 0.1863708	best: 0.1863133 (141)	total: 3.08s	remaining: 18.3s
144:	learn: 0.1733010	test: 0.1733010	test1: 0.1863888	best: 0.1863133 (141)	total: 3.1s	remaining: 18.3s
145:	learn: 0.1731891	test: 0.1731891	test1: 0.1863700	best: 0.1863133 (141)	total: 3.12s	remaining: 18.3s
146:	learn: 0.1731141	test: 0.1731141	test1: 0.1863849	best: 0.1863133 (141)	total: 3.14s	remaining: 18.2s
147:	learn: 0.1729921	test: 0.1729921	test1: 0.1863715	best: 0.1863133 (141)	total: 3.16s	remaining: 18.2s
148:	learn: 0.1728585	test: 0.1728585	test1: 0.1863919	best: 0.1863133 (141)	total: 3.18s	remaining: 18.2s
149:	learn: 0.1728089	test: 0.1728089	test1: 0.1863687	best: 0.1863133 (141)	total: 3.2s	remaining: 18.1s
150:	learn: 0.1726563	test: 0.1726563	test1: 0.1863954	best: 0.1863133 (141)	total: 3.22s	remaining: 18.1s
151:	learn: 0.1725262	test: 0.1725262	test1: 0.1863599	best: 0.1863133 (141)	total: 3.25s	remaining: 18.1s
152:	learn: 0.1723700	test: 0.1723700	test1: 0.1863394	best: 0.1863133 (141)	total: 3.27s	remaining: 18.1s
153:	learn: 0.1723248	test: 0.1723248	test1: 0.1863097	best: 0.1863097 (153)	total: 3.29s	remaining: 18.1s
154:	learn: 0.1722263	test: 0.1722263	test1: 0.1863619	best: 0.1863097 (153)	total: 3.31s	remaining: 18s
155:	learn: 0.1721093	test: 0.1721093	test1: 0.1863089	best: 0.1863089 (155)	total: 3.33s	remaining: 18s
156:	learn: 0.1719774	test: 0.1719774	test1: 0.1863342	best: 0.1863089 (155)	total: 3.35s	remaining: 18s
157:	learn: 0.1719108	test: 0.1719108	test1: 0.1863318	best: 0.1863089 (155)	total: 3.37s	remaining: 18s
158:	learn: 0.1718674	test: 0.1718674	test1: 0.1863232	best: 0.1863089 (155)	total: 3.39s	remaining: 17.9s
159:	learn: 0.1717222	test: 0.1717222	test1: 0.1863182	best: 0.1863089 (155)	total: 3.41s	remaining: 17.9s
160:	learn: 0.1716640	test: 0.1716640	test1: 0.1863305	best: 0.1863089 (155)	total: 3.44s	remaining: 17.9s
161:	learn: 0.1715680	test: 0.1715680	test1: 0.1863286	best: 0.1863089 (155)	total: 3.46s	remaining: 17.9s
162:	learn: 0.1714833	test: 0.1714833	test1: 0.1863231	best: 0.1863089 (155)	total: 3.48s	remaining: 17.9s
163:	learn: 0.1713856	test: 0.1713856	test1: 0.1863373	best: 0.1863089 (155)	total: 3.5s	remaining: 17.8s
164:	learn: 0.1712688	test: 0.1712688	test1: 0.1863621	best: 0.1863089 (155)	total: 3.52s	remaining: 17.8s
165:	learn: 0.1711830	test: 0.1711830	test1: 0.1863830	best: 0.1863089 (155)	total: 3.54s	remaining: 17.8s
166:	learn: 0.1710441	test: 0.1710441	test1: 0.1863902	best: 0.1863089 (155)	total: 3.56s	remaining: 17.8s
167:	learn: 0.1709490	test: 0.1709490	test1: 0.1863828	best: 0.1863089 (155)	total: 3.58s	remaining: 17.7s
168:	learn: 0.1708989	test: 0.1708989	test1: 0.1863655	best: 0.1863089 (155)	total: 3.6s	remaining: 17.7s
169:	learn: 0.1708273	test: 0.1708273	test1: 0.1864119	best: 0.1863089 (155)	total: 3.62s	remaining: 17.7s
170:	learn: 0.1707474	test: 0.1707474	test1: 0.1863640	best: 0.1863089 (155)	total: 3.65s	remaining: 17.7s
171:	learn: 0.1706899	test: 0.1706899	test1: 0.1863950	best: 0.1863089 (155)	total: 3.67s	remaining: 17.7s
172:	learn: 0.1706022	test: 0.1706022	test1: 0.1863733	best: 0.1863089 (155)	total: 3.69s	remaining: 17.6s
173:	learn: 0.1705348	test: 0.1705348	test1: 0.1864122	best: 0.1863089 (155)	total: 3.71s	remaining: 17.6s
174:	learn: 0.1704594	test: 0.1704594	test1: 0.1864337	best: 0.1863089 (155)	total: 3.73s	remaining: 17.6s
175:	learn: 0.1703684	test: 0.1703684	test1: 0.1864380	best: 0.1863089 (155)	total: 3.75s	remaining: 17.5s
176:	learn: 0.1703199	test: 0.1703199	test1: 0.1864663	best: 0.1863089 (155)	total: 3.77s	remaining: 17.5s
177:	learn: 0.1702461	test: 0.1702461	test1: 0.1864177	best: 0.1863089 (155)	total: 3.79s	remaining: 17.5s
178:	learn: 0.1700942	test: 0.1700942	test1: 0.1864830	best: 0.1863089 (155)	total: 3.81s	remaining: 17.5s
179:	learn: 0.1699939	test: 0.1699939	test1: 0.1864930	best: 0.1863089 (155)	total: 3.83s	remaining: 17.4s
180:	learn: 0.1699390	test: 0.1699390	test1: 0.1864769	best: 0.1863089 (155)	total: 3.86s	remaining: 17.5s
181:	learn: 0.1698796	test: 0.1698796	test1: 0.1864746	best: 0.1863089 (155)	total: 3.88s	remaining: 17.4s
182:	learn: 0.1697485	test: 0.1697485	test1: 0.1865126	best: 0.1863089 (155)	total: 3.93s	remaining: 17.5s
183:	learn: 0.1696678	test: 0.1696678	test1: 0.1864864	best: 0.1863089 (155)	total: 3.96s	remaining: 17.6s
184:	learn: 0.1695671	test: 0.1695671	test1: 0.1864925	best: 0.1863089 (155)	total: 3.98s	remaining: 17.6s
185:	learn: 0.1694373	test: 0.1694373	test1: 0.1865236	best: 0.1863089 (155)	total: 4s	remaining: 17.5s
186:	learn: 0.1693719	test: 0.1693719	test1: 0.1865040	best: 0.1863089 (155)	total: 4.02s	remaining: 17.5s
187:	learn: 0.1692958	test: 0.1692958	test1: 0.1865278	best: 0.1863089 (155)	total: 4.04s	remaining: 17.5s
188:	learn: 0.1692493	test: 0.1692493	test1: 0.1865281	best: 0.1863089 (155)	total: 4.07s	remaining: 17.5s

In [ ]:
y_pred_3 = model.predict(X_train)
print(classification_report(y_train, y_pred_3))

              precision    recall  f1-score   support

           0       0.95      0.97      0.96     41211
           1       0.96      0.93      0.95     31521

    accuracy                           0.95     72732
   macro avg       0.96      0.95      0.95     72732
weighted avg       0.95      0.95      0.95     72732

In [ ]:
y_pred_4= model.predict(X_val)
print(classification_report(y_val, y_pred_4))

              precision    recall  f1-score   support

           0       0.95      0.97      0.96     17668
           1       0.96      0.94      0.95     13504

    accuracy                           0.95     31172
   macro avg       0.95      0.95      0.95     31172
weighted avg       0.95      0.95      0.95     31172

### 평가 지료 비교

Light
           
              precision    recall  f1-score   support

           0       0.95      0.97      0.96     17668
           1       0.96      0.94      0.95     13504

    accuracy                           0.95     31172




XGB

              precision    recall  f1-score   support

           0       0.95      0.97      0.96     17668
           1       0.96      0.94      0.95     13504

    accuracy                           0.95     31172


CAT

              precision    recall  f1-score   support

           0       0.95      0.97      0.96     17668
           1       0.96      0.94      0.95     13504

    accuracy                           0.95     31172



**평가지표를 비교하니 대부분 비슷하므로 속도가 빠른 LightGBM로 결정**

In [ ]:
y_pred3 = model.predict(X_test)
print(classification_report(y_test, y_pred3))

              precision    recall  f1-score   support

           0       0.95      0.97      0.96     14573
           1       0.95      0.94      0.95     11403

    accuracy                           0.95     25976
   macro avg       0.95      0.95      0.95     25976
weighted avg       0.95      0.95      0.95     25976

### cf ) 순열 중요도

In [ ]:
pip install eli5

Collecting eli5
  Downloading eli5-0.11.0-py2.py3-none-any.whl (106 kB)
     |████████████████████████████████| 106 kB 28.5 MB/s
Requirement already satisfied: numpy>=1.9.0 in /usr/local/lib/python3.7/dist-packages (from eli5) (1.19.5)
Requirement already satisfied: graphviz in /usr/local/lib/python3.7/dist-packages (from eli5) (0.10.1)
Requirement already satisfied: attrs>16.0.0 in /usr/local/lib/python3.7/dist-packages (from eli5) (21.2.0)
Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (from eli5) (1.4.1)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from eli5) (1.15.0)
Requirement already satisfied: scikit-learn>=0.20 in /usr/local/lib/python3.7/dist-packages (from eli5) (0.22.2.post1)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.7/dist-packages (from eli5) (2.11.3)
Requirement already satisfied: tabulate>=0.7.7 in /usr/local/lib/python3.7/dist-packages (from eli5) (0.8.9)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.20->eli5) (1.0.1)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.7/dist-packages (from jinja2->eli5) (2.0.1)
Installing collected packages: eli5
Successfully installed eli5-0.11.0

In [ ]:
import warnings 
warnings.simplefilter(action='ignore', category=FutureWarning)

import eli5
from eli5.sklearn import PermutationImportance

# permuter 정의
permuter = PermutationImportance(
    model, # model
    scoring='accuracy', # metric
    n_iter=5, # 다른 random seed를 사용하여 5번 반복
    random_state=2
)

# permuter 계산은 preprocessing 된 X_val을 사용합니다.
#X_val_transformed = pipe.named_steps['preprocessing'].transform(X_val)

# 실제로 fit 의미보다는 스코어를 다시 계산하는 작업입니다
permuter.fit(X_val, y_val);

In [ ]:
feature_names = X_val.columns.tolist()

eli5.show_weights(
    permuter, 
    top=None, # top n 지정 가능, None 일 경우 모든 특성 
    feature_names=feature_names # list 형식으로 넣어야 합니다
)

## 모델 저장하기

In [ ]:
import pickle
from sklearn.externals import joblib

/usr/local/lib/python3.7/dist-packages/sklearn/externals/joblib/__init__.py:15: FutureWarning: sklearn.externals.joblib is deprecated in 0.21 and will be removed in 0.23. Please import this functionality directly from joblib, which can be installed with: pip install joblib. If this warning is raised when loading pickled models, you may need to re-serialize those models with scikit-learn 0.21+.
  warnings.warn(msg, category=FutureWarning)

In [ ]:
pickle.dump(model, open('light.pkl', 'wb'))

In [ ]:
saved_model = pickle.dumps(model)

clf_from_pickle = pickle.loads(saved_model)
clf_from_pickle.predict(X)

array([0, 0, 1, ..., 0, 0, 0])

In [ ]:
joblib.dump(model, 'light.pkl')

['light.pkl']

In [ ]:
clf_from_joblib = joblib.load('light.pkl') 
clf_from_joblib.predict(X)

array([0, 0, 1, ..., 0, 0, 0])